<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e2cbe0">  <td>23/05/28 21:01:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Admin_User.open()[pri:0, instance:test.Admin_User@3fee9989]">&gt;&gt;open</td> 
<td>&nbsp;</td>  <td>main@250370634</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>23/05/28 21:02:07</td>   <td>29721</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Admin_User.usermanageTest()[pri:0, instance:test.Admin_User@3fee9989]">usermanageTest</td> 
  <td>main@250370634</td>   <td></td> </tr>
</table>
