<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b96fde">  <td>23/05/26 10:47:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Time_Timesheet_test.open()[pri:0, instance:test.Time_Timesheet_test@6156496]">&gt;&gt;open</td> 
<td>&nbsp;</td>  <td>main@315932542</td>   <td></td> </tr>
<tr bgcolor="b96fde">  <td>23/05/26 10:47:46</td>   <td>26825</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Time_Timesheet_test.timesheet_Test()[pri:0, instance:test.Time_Timesheet_test@6156496]">timesheet_Test</td> 
  <td>main@315932542</td>   <td></td> </tr>
<tr bgcolor="b96fde">  <td>23/05/26 10:47:52</td>   <td>32510</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Time_Timesheet_test.close()[pri:0, instance:test.Time_Timesheet_test@6156496]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@315932542</td>   <td></td> </tr>
<tr bgcolor="8ebf60">  <td>23/05/26 10:48:01</td>   <td>41066</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Pim_Reports_test.open()[pri:0, instance:test.Pim_Reports_test@3c153a1]">&gt;&gt;open</td> 
<td>&nbsp;</td>  <td>main@315932542</td>   <td></td> </tr>
<tr bgcolor="8ebf60">  <td>23/05/26 10:48:28</td>   <td>68208</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Pim_Reports_test.reportTest()[pri:0, instance:test.Pim_Reports_test@3c153a1]">reportTest</td> 
  <td>main@315932542</td>   <td></td> </tr>
<tr bgcolor="8ebf60">  <td>23/05/26 10:48:30</td>   <td>70469</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Pim_Reports_test.close()[pri:0, instance:test.Pim_Reports_test@3c153a1]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@315932542</td>   <td></td> </tr>
</table>
